@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: white;
  --text-color: black;
}

.dark-mode {
  --background-color: black;
  --text-color: white;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* that how my web is looking now i want make the following changes
shift export transaction to the right side
there should be spacing between export transaction and toogle dark button
further from "description" to "search transaction" should be centered and input button should ne be that large it should be almost 400px in the center 
further the graph shouldn't cover the whole page it should be a small compact  */